<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!--    <script type="text/javascript" src="jquery.js"></script>-->

    <script src="/js/home.js"></script>

    <title>Employee page</title>
</head>
<body class="text text-center" style="background-color: lightgray">
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-2 mr-0 px-3" th:href="@{/home}">Company name</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" th:href="@{/logout}" >Sign out</a>
            </li>
        </ul>
    </nav>

        <div class="row">
            <label id="id" th:value="${emp.id}"></label>
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form class="my-4 needs-validation" novalidate="">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">First name</label>
                                <input th:value="${emp.firstName}"
                                       type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName">Last name</label>
                            <input th:value="${emp.lastName}"
                                    type="text" class="form-control" id="lastName" placeholder="" value="" required="" text=" sadf">
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="surName">Surname</label>
                                    <input th:value="${emp.surName}"
                                            type="text" class="form-control" id="surName" placeholder="" value="" required="">
                                    <div class="invalid-feedback">
                                        Valid first name is required.
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="age">Age</label>
                                    <input th:value="${emp.age}"
                                            type="text" class="form-control" id="age" placeholder="" value="" required="">
                                    <div class="invalid-feedback">
                                        Valid first name is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="start">Work start</label>
                                    <input th:value="${emp.start}"
                                            type="text" class="form-control" id="start" placeholder="" value="" required="">
                                    <div class="invalid-feedback">
                                        Valid first name is required.
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="finish">Work finish</label>
                                    <input th:value="${emp.finish}"
                                            type="text" class="form-control" id="finish" placeholder="" value="" required="">
                                    <div class="invalid-feedback">
                                        Valid first name is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="address">Address</label>
                        <input th:value="${emp.address}"
                                type="text" class="form-control" id="address" placeholder="1234 Main St" required="">
                        <div class="invalid-feedback">
                            Please enter your shipping address.
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="region">Region</label>
                            <select class="custom-select d-block w-100" id="region" required="">
                                <option value="" th:text="${emp.region}">Choose...</option>
                                <option th:each="reg : ${regionList}" th:text="${reg}"
                                        id="reg" th:value="${emp.region}">Region</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="district">District</label>
                            <select class="custom-select d-block w-100" id="district" required="">
                                <option value="" th:text="${emp.district}">Choose...</option>
                                <option th:each="distr : ${districtList}" th:text="${distr}"
                                        id="dist" th:value="${emp.district}">District</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>
                    </div>

                    <hr class="mb-4">

                    <div class="row">
                        <div class="col-md-6 mb-3" th:object="${emp}">
                            <button class="btn btn-primary btn-lg btn-block" type="submit" id="saveEmp">Save employee data</button>
                        </div>
                        <div class="col-md-6 mb-3">
                            <button class="btn btn-danger btn-lg btn-block" type="submit" id="deleteEmp"
                                    th:onclick="'employeeDelete(\'' + ${emp.id} + '\')'">Delete employee</button>
                        </div>
                    </div>
                </form>
            </div>
            </div>
            <div class="col-md-3"></div>

    <script src="/js/employee.js"></script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>