<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Employee page</title>
</head>
<body class="text text-center" style="background-color: lightgray">
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-2 mr-0 px-3" th:href="@{/home}">Company name</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" th:href="@{/logout}" >Sign out</a>
            </li>
        </ul>
    </nav>

        <div class="row">
            <label id="id" th:value="${emp.id}"></label>
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form class="my-4 needs-validation" novalidate="" id="form">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <label for="lastName">Last name</label>
                            <input id="lastName" class="form-control"
                                   th:value="${emp.lastName}" placeholder="Doe"
                                   type="text" required="" minlength="2" maxlength="50" pattern="(^[A-Z][a-zA-Z_.-]*$)|(^[А-Я][а-яА-я_.-]*$)">
                            <div class="invalid-feedback"> Valid last name is required.</div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <label for="firstName">First name</label>
                                <input id="firstName" class="form-control"
                                       th:value="${emp.firstName}" placeholder="John"
                                       type="text" required="" minlength="2" maxlength="20" pattern="(^[A-Z][a-zA-Z_.-]*$)|(^[А-Я][а-яА-я_.-]*$)">
                            <div class="invalid-feedback"> Valid first name is required.</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mb-4">
                            <label for="secName">Second name</label>
                            <input id="secName" class="form-control"
                                   th:value="${emp.secName}" placeholder="Second name"
                                   type="text" minlength="2" maxlength="20" pattern="(^[A-Z][a-zA-Z_.-]*$)|(^[А-Я][а-яА-я_.-]*$)">
                            <div class="invalid-feedback"> Valid second name is required.</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <label for="age">Age</label>
                            <input id="age" class="form-control"
                                   th:value="${emp.age}" placeholder="Age"
                                   type="number" required="" min="18" max="65">
                            <div class="invalid-feedback"> Valid age is required.</div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <label for="start">Work start</label>
                            <input id="start" class="form-control"
                                   th:value="${emp.start}" placeholder="Start"
                                   type="time" required="">
                            <div class="invalid-feedback"> Valid work time is required.</div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <label for="finish">Work finish</label>
                            <input id="finish" class="form-control"
                                   th:value="${emp.finish}" placeholder="Finish"
                                   type="time" required="">
                            <div class="invalid-feedback"> Valid work time is required.</div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col mb-4">
                            <label for="address">Address</label>
                            <input id="address" class="form-control"
                                   th:value="${emp.address}" placeholder="Address"
                                   type="text" required="" minlength="2" maxlength="256" pattern="(^[?!,.a-zA-Z0-9\s]+$)|(^[?!,.а-яА-ЯёЁ0-9\s]+$)">
                            <div class="invalid-feedback"> Valid address is required.</div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <label for="region">Region</label>
                            <select class="custom-select d-block w-100" id="region" required="">
                                <option th:text="${emp.region}">Choose...</option>
                                <option th:each="reg : ${regionList}" th:text="${reg}">Region</option>
                            </select>
                            <div class="invalid-feedback"> Valid region is required.</div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <label for="district">District</label>
                            <select class="custom-select d-block w-100" id="district" required="">
                                <option th:text="${emp.district}">Choose...</option>
                                <option th:each="distr : ${districtList}" th:text="${distr}">District</option>
                            </select>
                            <div class="invalid-feedback"> Valid district is required.</div>
                        </div>
                    </div>

                    <hr class="mb-4">

                    <div class="row" th:if="${emp.id != 0}">
                        <div class="col-md-6 mb-4" th:object="${emp}">
                            <button class="btn btn-primary btn-lg btn-block" type="submit" id="saveEmp">Save employee data</button>
                        </div>
                        <div class="col-md-6 mb-4">
                            <button class="btn btn-danger btn-lg btn-block" type="submit" id="deleteEmp"
                                    th:onclick="'employeeDelete(\'' + ${emp.id} + '\')'">Delete employee</button>
                        </div>
                    </div>
                    <div class="row" th:if="${emp.id == 0}">
                        <div class="col mb-4">
                            <button class="btn btn-primary btn-lg btn-block" type="submit" id="createEmp">Create new employee</button>
                        </div>
                    </div>
                </form>
            </div>
            </div>
            <div class="col-md-3"></div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="/js/employee.js"></script>
    <script src="/js/main.js"></script>

</body>
</html>