<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- BootstrapValidator CSS -->
    <link rel="stylesheet" href="/vendor/bootstrapvalidator/dist/css/bootstrapValidator.min.css"/>

    <title>Employee page</title>
</head>
<body class="text text-center" style="background-color: lightgray">
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-2 mr-0 px-3" th:href="@{/home}">Company name</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" th:href="@{/logout}" >Sign out</a>
            </li>
        </ul>
    </nav>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form class="needs-validation my-4" id="id" th:value="${emp.id}" novalidate="">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="lastName">Last name</label>
                            <input th:value="${emp.lastName}"
                                   type="text" class="form-control" id="lastName" placeholder="Last name" required="">
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback">
                                Required field.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="firstName">First name</label>
                            <input th:value="${emp.firstName}" min="2" max="20"
                                   type="text" class="form-control" id="firstName" placeholder="First name" required>
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback">
                                Required field.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="surName">Surname</label>
                                    <input th:value="${emp.surName}"
                                            type="text" class="form-control" id="surName" placeholder="Sur name">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="age">Age</label>
                                    <input th:value="${emp.age}"
                                            type="number" class="form-control" id="age" placeholder="Age" required="" min="18" max="65">
                                    <div class="valid-feedback"></div>
                                    <div class="invalid-feedback">
                                        Required field.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="start">Work start</label>
                                    <input th:value="${emp.start}"
                                            type="time" class="form-control" id="start" placeholder="Workday begins" required="">
                                    <div class="valid-feedback"></div>
                                    <div class="invalid-feedback">
                                        Required field.
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="finish">Work finish</label>
                                    <input th:value="${emp.finish}"
                                            type="time" class="form-control" id="finish" placeholder="Workday ends" required="">
                                    <div class="valid-feedback"></div>
                                    <div class="invalid-feedback">
                                        Required field.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="address">Address</label>
                        <input th:value="${emp.address}"
                                type="text" class="form-control" id="address" placeholder="Address" required="">
                        <div class="invalid-feedback">
                            Please enter your shipping address.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="region">Region</label>
                            <select class="custom-select d-block w-100" id="region" required="">
                                <option value="" th:text="${emp.region}">Choose...</option>
                                <option th:each="reg : ${regionList}" th:text="${reg}"
                                        id="reg" th:value="${emp.region}" th:placeholder="Region">Region</option>
                            </select>
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback">
                                Required field.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="district">District</label>
                            <select class="custom-select d-block w-100" id="district" required="">
                                <option value="" th:text="${emp.district}">Choose...</option>
                                <option th:each="distr : ${districtList}" th:text="${distr}"
                                        id="dist" th:value="${emp.district}" th:placeholder="District">District</option>
                            </select>
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback">
                                Required field.
                            </div>
                        </div>
                    </div>

                    <hr class="mb-4">

                    <div class="row">
                        <div class="col-md-6 mb-3" th:object="${emp}">
                            <button class="btn btn-primary btn-lg btn-block" type="submit" id="saveEmp">Save employee data</button>
                        </div>
                        <div class="col-md-6 mb-3">
                            <button class="btn btn-danger btn-lg btn-block" type="submit" id="deleteEmp"
                                    th:onclick="'employeeDelete(\'' + ${emp.id} + '\')'">Delete employee</button>
                        </div>
                    </div>
                </form>
            </div>
            </div>
            <div class="col-md-3"></div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>

<!--    <script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.5/dist/bootstrap-validate.js"></script>-->
    <!-- BootstrapValidator JS -->
    <script type="text/javascript" src="/vendor/bootstrapvalidator/dist/js/bootstrapValidator.min.js"></script>

<!--    <script>-->
<!--        bootstrapValidate('#firstName', 'min:2:Must be more than 2 characters long');-->
<!--        bootstrapValidate('#firstName', 'max:20:Must be less than 20 characters long');-->
<!--        bootstrapValidate('#firstName', 'alpha:10:Must be only alphabetic characters');-->
<!--    </script>-->

<!--    <script>-->
<!--        // Example starter JavaScript for disabling form submissions if there are invalid fields-->
<!--        (function() {-->
<!--            'use strict';-->
<!--            window.addEventListener('load', function() {-->
<!--                // Fetch all the forms we want to apply custom Bootstrap validation styles to-->
<!--                var forms = document.getElementsByClassName('needs-validation');-->
<!--                // Loop over them and prevent submission-->
<!--                var validation = Array.prototype.filter.call(forms, function(form) {-->
<!--                    form.addEventListener('submit', function(event) {-->
<!--                        if (form.checkValidity() === false) {-->

<!--                            event.preventDefault();-->
<!--                            event.stopPropagation();-->
<!--                        }-->
<!--                        form.classList.add('was-validated');-->

<!--                    }, false);-->
<!--                });-->
<!--            }, false);-->
<!--        })();-->
<!--    </script>-->

    <script>
        $(document).ready(function() {
            $('#registrationForm').bootstrapValidator({
                // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    firstName: {
                        message: 'The username is not valid',
                        validators: {
                            notEmpty: {
                                message: 'The username is required and cannot be empty'
                            },
                            stringLength: {
                                min: 6,
                                max: 30,
                                message: 'The username must be more than 6 and less than 30 characters long'
                            },
                            regexp: {
                                regexp: /^[a-zA-Z0-9]+$/,
                                message: 'The username can only consist of alphabetical and number'
                            },
                            different: {
                                field: 'password',
                                message: 'The username and password cannot be the same as each other'
                            }
                        }
                    },
                    email: {
                        validators: {
                            notEmpty: {
                                message: 'The email address is required and cannot be empty'
                            },
                            emailAddress: {
                                message: 'The email address is not a valid'
                            }
                        }
                    },
                    password: {
                        validators: {
                            notEmpty: {
                                message: 'The password is required and cannot be empty'
                            },
                            different: {
                                field: 'username',
                                message: 'The password cannot be the same as username'
                            },
                            stringLength: {
                                min: 8,
                                message: 'The password must have at least 8 characters'
                            }
                        }
                    },
                    birthday: {
                        validators: {
                            notEmpty: {
                                message: 'The date of birth is required'
                            },
                            date: {
                                format: 'YYYY/MM/DD',
                                message: 'The date of birth is not valid'
                            }
                        }
                    },
                    gender: {
                        validators: {
                            notEmpty: {
                                message: 'The gender is required'
                            }
                        }
                    }
                }
            });
        });
    </script>

</body>
</html>